.vertical-collection-container {
  overflow-x:hidden;
  width:300px;
  height:150px;
  margin-top: 1rem;
}

.row-container {
  display: flex;
}

.row-index {
  margin-right: 1rem;
}

.inner-component-container {
  overflow-x:hidden;
  width:300px;
  height:50px;
}

.inner-component-long-div {
  width:2000px;
  height:50px;
}